


    <nav id="home_page_navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-menu-down" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          </button>
          <a class="navbar-brand home_title" href="/">Noir Chat Alphonse</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">HOME<span class="sr-only">(current)</span></a></li>
            <li><a href="#new_in">NEW IN</a></li>
            <li class="dropdown">
              <a href="/collections/tags/all">SHOP</a>
            </li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="#">BAG</a></li>
            <li class="liCart">
              <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>   CART</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <!-- cart modal -->
    <div class="deck-container collapsed">
      <div class="modalToggle">
        <div class="toggleContent">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>   CART
          <%
          var totalPrice = 0;
          for(var i=0; i<cart.length; i++) { totalPrice = totalPrice + cart[i].price*cart[i].amount; }
          %>
          $<%= totalPrice %>
          <div class="row">
            <!-- <button type="button" class="btn btn-info btn-lg" id="checkoutModalToggle" data-toggle="modal" data-target="#myModal">去結帳</button> -->
            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#checkoutModal">去結帳</button>
          </div>
        </div>
      </div>

      <% for(var i=0; i<cart.length; i++) {%>
        <% var eachItem = cart[i] %>
        <% var indexOfItem = i+2 %>
        <% include cartItem.ejs %>
      <% } %>
    </div>



    <!-- checkout modal -->
    <div class="modal fade" id="checkoutModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span class='glyphicon glyphicon-remove'></span>
            </button>
            <h4 class="modal-title text-center">該怎麼進行下一步呢？</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="loginOrNotArea text-center">
                <div class="loginOrNotTop">
                  <div class='overlay centerDiv' style="width:100%">
                    已經是會員？請登入
                  </div>
                </div>

                <div class="loginOrNotMiddle">
                  <div class='overlay'>
                    <div class="form-group">
                      <!-- <input type="text" class="form-control" id="account" placeholder="帳號"> -->
                      <input type="email" name="email" class="form-control" id="account" placeholder="帳號 / Email">
                    </div>
                    <div class="form-group">
                      <!-- <input type="text" class="form-control" id="pswd" placeholder="密碼"> -->
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="密碼 / Password">
                    </div>
                  </div>
                </div>

                <div class="loginOrNotBottom">
                  <div class='overlay'>
                    <button type="button" class="btn btn-warning" id="checkoutModalLogin">會員登入 / Login</button>
                  </div>
                </div>
              </div>
              <div class="loginOrNotArea text-center" style="border-color: black;border-style: solid;border-width: 0px 0px 0px 1px;">
                <div class="loginOrNotTop">
                  <div class='overlay centerDiv' style="width:100%">
                    首次購物，無須註冊
                  </div>
                </div>

                <div class="loginOrNotMiddle">
                  <div class='overlay centerDiv' style="white-space:normal; width:100%">
                    告訴我們您的匯款帳號，以及目的地。
                  </div>
                </div>

                <div class="loginOrNotBottom">
                  <div class='overlay'>
                    <button type="button" class="btn btn-warning" id="checkoutModalCheckout">前往結帳 / Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>