


    <nav id="home_page_navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-menu-down" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          </button>
          <a class="navbar-brand home_title" href="/">Noir Chat Alphonse</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">HOME<span class="sr-only">(current)</span></a></li>
            <li><a href="#new_in">NEW IN</a></li>
            <li class="dropdown">
              <a href="#">SHOP</a>
            </li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="#">BAG</a></li>
            <li class="liCart">
              <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>   CART</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>




    <!-- cart modal -->
    <div class="deck-container collapsed">
      <div class="modalToggle">
        <div class="toggleContent">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>   CART
        </div>
      </div>

      <% for(var i=0; i<cart.length; i++) {%>
        <% var eachItem = cart[i] %>
        <% var indexOfItem = i+2 %>
        <% include cartItem.ejs %>
      <% } %>

    </div>