<%- navBar %>

<div id="shop_page" class="row-fluid">
  <div id="category_list_page" class="col-sm-2">
    <%- category %>
  </div>
  <div id="item_list_page" class="col-sm-10">
  	<%- partial('./item.ejs') %>
  </div>
</div>