#shop_page {
  margin-top: 100px;
}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

#shop_navbar {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding-left: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
}

#shop_navbar .navbar-nav > li > a, #shop_navbar .navbar-brand {
  -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    color: #272727;
}
#shop_navbar .navbar-nav > li > a:hover,
#shop_navbar .navbar-nav > li > a:focus {
    color: rgb(176, 94, 82);
}
#shop_navbar .navbar-nav > .active > a, 
#shop_navbar .navbar-nav > .active > a:hover, 
#shop_navbar .navbar-nav > .active > a:focus {
    color: rgb(176, 94, 82);
    background-color: transparent;
}
#shop_navbar .navbar-nav > .open > a, 
#shop_navbar .navbar-nav > .open > a:hover, 
#hhop_navbar .navbar-nav > .open > a:focus {
    color: rgb(176, 94, 82);
    background-color: transparent;
}

#item_list_page {
  padding-right:50px;
  padding-left: 0px;
}

#category_list_page {
  padding-right:0px;
  padding-left:0px;
}

#item_img_page {
  padding-left: 30px;
  padding-right:0px;
}


@media (max-width: 978px) {
  #shop_page {
    margin-top: 50px;
  }
  #shop_navbar {
    padding-left:20px;
    font-size: 14px;
  }
  #item_list_page {
    padding-right:10px;
    padding-left: 10px;
  }
  #item_img_page {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 760px) {
  #shop_navbar {
    padding-left:0px;
  }
}


@media (max-width: 978px) {
  .affix {
    position:static;
  }
}



/***** item_img_page *****/

#item_img_thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  top:10px;
}
#item_img_thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


@media (max-width: 760px) {
  #item_img_thumbnail {
    width: 50px;
    height: 50px;
  }
}

.article-slide .carousel-inner img {
  margin: 0 auto;
  max-height: 500px;
}

/* Indicators list style */
#item_img_page .carousel-indicators {
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom:5px;
    position: relative;
    margin-left:0px;
    height: auto;

}
/* Indicators list style */
#item_img_page .carousel-indicators li {
    border: none;
    border-radius: 0;
    height: 54px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0px !important;
    width: auto;
}

/* Indicators images style */
#item_img_page .carousel-indicators img {
    height: 80%;
    left: 0;
    width: auto;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
/* Indicators active image style */
#item_img_page .carousel-indicators img:hover, 
#item_img_page .carousel-indicators .active img {
    /*border: 1px solid white;*/
    opacity: 1;
    filter: alpha(opacity=100);

}

@media (max-width: 768px) {
  #item_img_page .carousel-indicators img {
    height: 70%;
  }
}


/***** item_detail_page *****/


#item_detail_page {
  padding-right: 50px;
  padding-left: 30px;
}

#item_detail_name {
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 5px 0px;
}

#item_detail_price {
  color: rgb(176, 94, 82);
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  padding-bottom: 10px;
}

#item_detail_page hr{
  margin-top: 10px;
  margin-bottom: 10px
}

#item_detail_quantity {
  width:50%;
  margin-top:5px;
}

#item_add_to_bag {
  margin-top:5px;
}

#item_add_to_bag button {
    width:100%;
}

@media (max-width: 768px) {
  #item_detail_quantity {
    width:100%;
  }
}