/*body {
	background-image: url("/images/IMG_9115.JPG");
	background-repeat:no-repeat;
	background-position:center center;
	background-size: cover;
	background-attachment: fixed;
} */

/***** Homepage Title *****/

html, body {
	background-color: rgb(244, 244, 242);
	/*height: 100%;*/
    /*margin: 0;*/
}

#home_page_navbar .home_title {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
}

/***** Navbar *****/

#home_page_navbar {
	/*background-color: rgba(255, 255, 255, 0.7);*/
	background-color: rgba(244, 244, 242, 0.7);
	padding: 10px 30px 10px 30px;
	border-color: transparent;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 17px;
}

#home_page_navbar .navbar-nav > li{
	margin: 0px 10px;

}

#home_page_navbar .navbar-brand:hover,
#home_page_navbar .navbar-brand:focus {
    /*color: #5E5E5E;*/
    /*color: rgb(176, 94, 82);*/
    color: rgb(180, 140, 80);
}

#home_page_navbar .navbar-nav > li > a, #home_page_navbar .navbar-brand {
	-webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    color: #272727;
}
#home_page_navbar .navbar-nav > li > a:hover,
#home_page_navbar .navbar-nav > li > a:focus {
    /*color: rgb(176, 94, 82);*/
    color: rgb(180, 140, 80);
}
#home_page_navbar .navbar-nav > .active > a, 
#home_page_navbar .navbar-nav > .active > a:hover, 
#home_page_navbar .navbar-nav > .active > a:focus {
    /*color: rgb(176, 94, 82);*/
    color: rgb(180, 140, 80);
    background-color: transparent;
}
#home_page_navbar .navbar-nav > .open > a, 
#home_page_navbar .navbar-nav > .open > a:hover, 
#home_page_navbar .navbar-nav > .open > a:focus {
    /*color: rgb(176, 94, 82);*/
    color: rgb(180, 140, 80);
    background-color: transparent;
}

@media (max-width: 978px) {
	#home_page_navbar, #home_page_navbar .navbar-brand, #home_page_navbar .navbar-nav > li {
		margin: 0px;
	}

	#home_page_navbar {
		font-size: 14px;
		padding:0px;
		/*background-color: rgba(255, 255, 255, 0.9);*/
		background-color: rgba(244, 244, 242, 0.7);
	}

	#home_page_navbar .home_title {
		font-family: 'Satisfy', cursive;
		font-size: 17px;
	}
}

/***** Carousel slide fade in and out effect *****/

.carousel-fade .carousel-inner .item {
  opacity: 0.2;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner > .item!important {
  -webkit-transition: 2s;
       -o-transition: 2s; 
          transition: 2s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}


@media (max-width: 978px) {
	.carousel-indicators li, 
	.carousel-indicators .active {
		height: 5px;
		width: 10%;
		margin: 0px 1px;
	}

}