/**
 * home.less
 *
 * @description :: With this stylesheet, we changed the look of the home page (view/home/index.ejs).
 * 
 */

#home_carousel {
  .carousel-inner {
    max-height: 600px;
  }

  /***** Carousel indicators design *****/
  .carousel-indicators {
    li {
      -webkit-border-radius: 0;
      border-radius: 1px;
      height: 6px;
      width: 50px;
      margin: 0px 2px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
    }
    .active {
      height: 7px;
      width: 50px;
      margin: 0px 2px;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}


/***** Carousel overlay div*****/
#overlay { 
  position:absolute;
  z-index:12;
  top:300px;
  left:0;
  width:100%;
  text-align:center;
}


/***** Shop now button svg *****/
/** http://cssdeck.com/labs/svg-border-hover-effect-1 **/
#overlay {
  .svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  	margin: 0 auto;
    width: 250px;  
  }
  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -365;
    stroke-width: 5px;
    fill: transparent;
    stroke: white;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 3px;
    color: #fff;
    top: -48px;
    position: relative;
  }
  .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 620;
  }
  .text span { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;

    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    /*background-image: url('empty.gif');*/
  }   
}

@media (max-width: 978px) {
	#overlay { 
  	top:150px;
	}
	#overlay {
    .text {
  		font-size: 12px;
  		line-height: 40px;
  	}
    .shape {
      stroke: transparent;
    }
    span {
      border: solid 1px white;
    }
  }
}


/***** Home page sections *****/
.home_page_section {
  h3{
    color: @color-font;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

@media (max-width: 978px) {
  .home_page_section {
  }
}











// cart modal 相關
.deck-container {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1050;

  visibility: visible;
}
.deck-container.collapsed {
  visibility: hidden;
}

@boxSize: 150px;
.itemGrid {
  width: 25%; height: @boxSize;
  float:right;
  transition: all 0.5s ease-in-out;
  position: relative;
  transform-origin: top right; 

  visibility: visible;
}
div.deck-container.collapsed .itemGrid {
  visibility: hidden;
}

.modalToggle {
  position: relative;
  float:right;
  width:25%;
  height:150px;

  font-size: 5.3vw;
  text-align: center;

  transform-origin: top right; 
  transition: all 0.5s ease-in-out;

  visibility: visible;
}
.deck-container.collapsed .modalToggle {
  visibility: hidden;
}
.modalToggle .toggleContent {
  // 置中設定
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}